body{
    background-color: lightgray;
    color: black;
}

nav{
    background-color: white;
    height: 80px;
    width: 100%;
}

label.logo{
    color: red;
    font-size: 24px;
    line-height: 36px;
    padding: 0 100px;
    font-weight: bold;
    text-transform: uppercase;
}

div nav ul{
    float: right;
    margin-right: 20px;
}

div nav ul li{
    display: inline-block;
    line-height: 50%;
}